/* NAVBAR */

.navbar {
  position: fixed;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-nav .nav-link {
  color: white
}


.container-fluid .navbar-brand {
  color: white;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}


.navbar {
  background: rgb(0, 38, 100);

}

/* FOOTER */



.footer {
  background: rgb(0, 38, 100);
}



/* OPTIONS TOP */

.icons-options {
  color: rgb(242, 240, 240);
  font-size: 1.5rem;
}


.options-word {
  font-size: 12px;
  margin: 0;
  color: rgb(242, 240, 240);
}


.row-options-top {
  background-image: linear-gradient(to right, rgb(31, 23, 138) 49%, rgb(0, 38, 100) 90%);
  border-bottom-right-radius: 60%;
  border-bottom-left-radius: 4rem;
  padding: 2dvh 3dvw 5dvh 3dvw;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100dvw;
}

.row-options-bottom {
  background-image: linear-gradient(to right, rgb(0, 38, 100) 49%, rgb(31, 23, 138) 90%);
  border-top-left-radius: 60%;
  border-top-right-radius: 4rem;
  padding: 6dvh 3dvw 2dvh 3dvw;
  position: fixed;
  bottom: 0;
  width: 100dvw;
}

.col-music-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 5vh;
  padding: 6.5vh 8vw;
}

.col-music-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 5vh;
  padding: 6.5vh 8vw;
}





/* FOOTER MUSIC */


.footer-music {
  background-color: rgb(187, 19, 62);
  width: 100vw;
  text-align: center;
  padding: 2vh;
  height: 10dvh;
}

.icons-FooterMusic {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.container-footerMusic {
  position: fixed;
  bottom: 0;
  height: 10dvh;

}

@media (min-width: 769px) {

  .row-options-top {
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 60%;
  }

  .row-options-bottom {
    display: flex;
    justify-content: center;
    border-top-left-radius: 60%;
  }

  .icons-options {
    color: rgb(242, 240, 240);
    font-size: 2rem;
  }
}