.col-6.col-lg-3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images-music {
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;

}

.container-music {
  background-color: rgb(233, 233, 236);
  padding: 20dvh 3dvw 25dvh 3dvw;
  min-height: 100dvh;
}

@media (min-width: 769px) {

  .container-fluid-music {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 236);
  }

  .container-music {
    padding: 25dvh 3dvw 30dvh 3dvw;
    width: 80dvw;
  }

}